appdirs~=1.4.4
bokeh==2.4.3
mypy==0.991
pandas==1.5.2
pytest~=7.1
python-dateutil~=2.8
PyYAML~=6.0
simplejson~=3.17
testfixtures~=7.0.3
types-PyYAML~=6.0
types-appdirs~=1.4
types-python-dateutil~=2.8
types-simplejson~=3.17

# Using pre-1.24 numpy avoids deprecation warnings with pre-3.x.x bokeh
numpy~=1.23.5

matplotlib~=3.5
