appdirs~=1.4.4
bokeh==2.4.3
mypy~=0.982
pandas~=1.5.1
pytest~=7.1
python-dateutil~=2.8
pyyaml~=6.0
simplejson~=3.17
testfixtures~=7.0.3
types-PyYAML~=6.0
types-appdirs~=1.4
types-python-dateutil~=2.8
types-simplejson~=3.17

matplotlib~=3.5
